#top-head {background-color: rgb(163, 243, 190);}
body {background: rgb(235, 220, 220);}

.list {background-color: black; color: aliceblue;}

#smit {padding-top: 50px;}
#back {font-size:20px; color:brown;}